/****************************  RESET CSS  ************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************  GENERAL CONFIG  ********************************/
:root {
	--white: #fff;
	--dark-blue: #151f29;
	--blue: #4f7df3;
	--blue-transparent: rgba(79, 125, 243, 0.3);
	--gray: #969696;
	--gray-transparent: rgba(150, 150, 150, 0.5);
}

* {
	box-sizing: border-box;
}


body {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #151f29;
}

.container {
	display: flex;
	flex-direction: column;

	margin: 3em 1.5em;
}

/****************************  HEADER  ****************************************/
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header img {
	width: 3em;
	margin: 1em;
}

header h2 {
	color: var(--gray);
	font-size: x-large;
	margin: 1em;
}


header h2 span {
	color: var(--dark-blue);
	font-weight: 700;
}

header p {
	font-size: small;
	margin-bottom: 3em;
}

/****************************  MAIN  ******************************************/

main form {
	display: flex;
	flex-direction: column;

	margin: 0 1em;
}

main form input {
	border: 1px solid var(--blue-transparent);
	padding: 1em 0;
	border-radius: 5em;
}

main form input[type="email"] {
	margin-bottom: 10px;
	padding-left: 2em;
}

main form input[type="email"]::placeholder {
	color: var(--gray-transparent);
}

main form input[type="submit"] {
	background-color: var(--blue);
	color: var(--white);

	font-weight: 600;

	box-shadow: 0 5px 5px var(--gray-transparent);
}

main img {
	width: 100%;
	margin: 3em 0;
}

/****************************  FOOTER  ****************************************/
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer .social-midia {
	display: flex;
	margin: 3em 0 1.5em 0;
}

footer .social-midia div {
	position: relative;
	width: 30px;
	height: 30px;
	border: 1px solid var(--blue-transparent);
	border-radius: 50%;
	margin: 0 0.4em;

}

footer .social-midia div a {
	position: relative;

	color: var(--blue);
	font-size: smaller;
	top: 4px;
	right: -7px;
}

footer p {
	font-size: x-small;
	color: var(--gray);
}
